* {background-color:rgb(128, 128, 128, 4%); font-size: 20px; font-family: serif;}
#header {margin-left: 0px; margin-right: 0px; margin-top: 0px; background-color: #6861CE;
        color: white; text-align: center; padding: 25px; font-size: 25px;
        display: block; position: sticky; top: 0px;}
#menu {float: left; margin-left: 0px; margin-top: 5px; width: 25px; border-top: 30%;
        cursor: pointer; display: none;}
#meno {float: left; margin-left: 0px; margin-top: 5px; width: 25px; border-top: 30%;
                cursor: pointer; display: none;}
#meni {float: left; margin-left: 0px; margin-top: 5px; width: 25px; border-top: 30%;
                    cursor: pointer; display: block;}
#dot {float: right;}
#buy {text-align:center; display: block; min-width: 200px; margin-bottom: 15px; margin-top: 40px; 
    font-weight: normal; font-family: sans-serif;}
.content {/*background-color:rgb(128, 128, 128, 10%);*/
        margin-left: 3%; margin-right: 3%; box-shadow: 2Px 2px 10px gray,  -2Px -2px 10px gray;
         min-height: 750px; max-height: 900px; max-width: 2000px; margin-bottom: 30px; 
         border-radius: 3px; min-width: 200px;}  
#codes {text-align: center;padding: 5px; margin-bottom: -20px; font-family: serif;}
.detail {margin-left: 25px; margin-right: 25px; margin-top: 0px; float: right; 
    background-color: transparent;}
#mtn1 {background-color: #ffeeba; padding: 15px; margin-bottom: 0px;}
#mtn2 {background-color: #ffeeba; padding: 15px; margin-top: 1px; margin-bottom: 0px;
        
        }
#mobile {background-color: #c6c8ca; padding: 15px; margin-bottom: 0px; margin-top: 1px;}
#airtel {background-color: #f5c6cb; padding: 15px; margin-bottom: 0px; margin-top: 1px;}
#glo {background-color:  #c3e6cb; padding: 15px; margin-bottom: 0px; margin-top: 1px;}
.network {margin-left: 25px; margin-right: 25px;}
#datat {width: 100%; padding: 10px; background-color: white; border: none; }
#type {margin-left: 25px;  margin-right: 25px;}
#networks {width: 100%; padding: 10px; background-color: white; border: none;}
.number { margin-right: 25px; margin-left: 25px; border: none;}
#numbers {width: 100%; padding: 10px; background-color: white; border: none;}
.plan { margin-right: 25px; margin-left: 25px;}
#plans {width: 100%; padding: 10px; background-color: white; border: none;}
.amount {margin-right: 25px; margin-left: 25px; border: none;}
#amounts { width: 100%; padding: 10px; background-color: white; border: none;}
#check {margin-left: 25px;}
.buy a {text-align: center; background-color: darkblue; margin-left: 25px;  
        margin-right: 25px;   margin-bottom: 10px;}
.buy a {
        text-decoration: none;
        font-size: larger;
        color: white;
        padding: 12px;
        display: block;
}
.buy a:hover {
    text-decoration: none;
    font-size: larger;
    color: white;
    padding: 12px;
    display: block;
    background-color: darkblue;
}

#nav {
        float: left;
        width: 230px;
        background-color: rgb(57, 79, 98);
        overflow-y: scroll;
        margin-left: 0px;
        transition: .5s;
        position: static; 
}
nav a {
        color: white;
        font-size: 15px;
        padding: 10px;
        display: block;
        text-decoration: none;
       font-family: monospace;
        border-radius: 9px;

}
nav ul {
        list-style-type: none;
        padding: 15px;
        margin-top: -15px;

}
nav #active, a:hover {
        background-color: white;
        color: black;
}
nav li {
        padding: 10px;
}
#nedum {
        color: white;
        font-size: 19px;
        margin-left: 35px;
        font-family: monospace;
        margin-top: 25px;
}
#balance {
        color: white;
        font-size: 12px;
        margin-left: 35px;
        margin-bottom: -6px;
        font-family: monospace;
}
.hrr {
        height: 1px;
        width: 100%;
        background-color: rgb(233, 182, 182);
       
        margin-top: 30px;

}
#this {
         transition: .5s;
         overflow: scroll;
}



*{
        overflow-x: hidden;
        margin: 0px;
        font-size: big;
}
.forms {
    margin-top: 0px;
    background-color: transparent;
}